@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Poppins', sans-serif;
}

/* @tailwind base;
  @tailwind components;
  @tailwind utilities; */